.shop__boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-height: calc(100vh - 140px);
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.shop__boxes::-webkit-scrollbar {
    display: none;
}

.shop__box-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(37, 37, 37, 0.4);
    border-radius: 10px;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.shop__box-item.last-row {
    margin-bottom: 10px;
}

.shop__box-item__header {
    display: flex;
    align-items: start;
    justify-content: center;
}

.shop__box-item__header-text {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

.shop__box-image {
    width: 100%;
    object-fit: contain;
}

.shop__box-item__buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    gap: 10px;
}

.shop__box-item__buy__button {
    background-color: rgb(37, 37, 37, 0.8);
    color: #EEEEEE;
    border: 1px solid rgba(238, 238, 238, 0.4);
    border-radius: 8px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.shop__box-item__buy__button-text {
    font-size: 12px;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.shop__box-item__buy__button-icon {
    width: 10px;
    height: 10px;
    object-fit: contain;
    margin-left: 2px;
}